{% extends "base.html" %} {% block content %} {% block page_content %}
<!--Page structure-->
<div class="container-fluid">
  <div class="row h-100 justify-content-start">
    <!--Column for sidebar-->
    <div class="col-2 pt-4 pl-4 pr-5" align="center" id="sidebar" style="background-color: #1A1A1A;">
      <!--Image-->
      <img src="static/images/me.jpg" class="rounded-circle" style="max-width: 100%; height: auto; filter: brightness(90%);">
      <!--Links-->
      <br><br>
      <h3 style="color: white;">Gerardo Salazar</h3>
      <h5><a href="https://github.com/Salazar-99" style="color: rgb(197, 197, 197);">GitHub</a></h5>
      <h5><a href="https://www.linkedin.com/in/gerardo-salazar-62196a148/" style="color: rgb(197, 197, 197);"">LinkedIn</a></h5>
    </div>
    <!--Column for content-->
    <div class="col-6 pt-5 pl-5" id="content-block">
      <!--Header-->
      <h1 class="text" style="color: white;">Hi, I'm <span style="color: 50B8FF">Gerardo</span></h1>
      <!--About Me-->
      <p style="color: white">I like working on interesting problems. As a kid this drove my interest in Mathematics and Physics so
        I ended up studying both at The University of Texas at Austin.
        Nowadays I am taking the fundamental skills I gained through my formal studies and applying them to the fields of
        Data Science and Machine Learning.</p>
        <p style="color: white"> I am passionate about</p>
      <!--Contact Me Form-->
      <h2 class="text" style="color: white;">Leave Me A Message</h2>
    </div>
  </div>
</div>
{% endblock %} {% endblock %}
